[Unit]
Description=Backup of /srv/gits
Wants=gitsBackup.timer

[Service]
Type=oneshot
ReadOnlyPaths=/
ReadWritePaths=/srv/backups
NoExecPaths=/
ExecPaths=/srv/gits/rotate_tar_backup /usr/bin
ExecStart=/srv/gits/rotate_tar_backup/backup.sh

[Install]
WantedBy=multi-user.target