[Unit]
Description=Backup of /srv/gits
Wants=gitsBackup.timer

[Service]
Type=oneshot
ReadOnlyPaths=/
ReadWritePaths=/srv/backups
#NoExecPaths=/
ExecPaths=/usr/local/bin /usr/bin
ExecStart=/usr/local/bin/backup.sh

[Install]
WantedBy=multi-user.target